:root{
 --primary-bg:#F8ABA6;
--secondary-bg:#18ABA7;
--primary-color:#112233;
  --secondary-color:#334455;
  --padding-default:24px;
  --padding-narrow:12px;
  --primary-Font:'TogebaraMedium';
}
body{
    margin:0px;
}
img{
    width:100%;
}
header{
    color: var(--primary-color);
    background-color: var(--primary-bg);
    font-family: var(--primary-Font);
    padding:var(--padding-default);
}
#logo{
    width:195px;
}
main{
    background-color: var(--secondary-color);
}
main #main-about{
    color: var(--secondary-color);
    background-color: var(--secondary-bg);  
    padding:var(--padding-default);
}
main #main-latestwork{
    color:var(--primary-color);
    background-color: var(--primary-bg);
    font-family: var(--primary-Font);
}
main #main-latestwork img{
    width: 20%;
}
.work-latestwork{
position: relative;
}
.work-genre, .work-title{
    position: absolute;
}
.work-genre{
    bottom:60px;
    left:12px;
    background-color: white;
    color: var(--secondary-color);
    font-size: 12px;
    padding: 4px 24px;
    border-radius: 12px;
}
.work-title{
    bottom: 24px;
    left: 12px;
    font-weight: bold;
}
main #main-latestwork-title{
    padding:var(--padding-default);
}
main #main-latestwork-images{
    padding:var(--padding-narrow);
}
main #main-images{
    display:flex;
    flex-wrap: wrap;
}
main #main-images img{
    width:25%;
}