:root{
 --primary-bg:red;
　--secondary-bg:violet;
   --primary-color:blueviolet;
  --secondary-color:pink;
  --padding-default:24px;
  --padding-narrow:12px;
}
body{
    margin:0px;
}
img{
    width:20%;
    height: 20%;
}