body{
    background-color: blueviolet;
    color: white;
}
header{
    background-color: black;
    color:red;
}
footer{
    background-color: blue;
    color: white;
}
.menubar{
    background-color: white;
}